<div style="height: 200px">
  <multipanel [displayCount]="numberOfPanels">
    <panel *ngFor="let panel of multipanelPanels; let i = index; trackBy: trackbyIdx">
      <panel-content [name]="panel.name"
        [index]="i"
        (emitter)="$event.action === 'add' ? addPanel() : removePanel($event.name)">
      </panel-content>
    </panel>
  </multipanel>
</div>

<br/>

<div style="height: 500px">
  <table>
    <thead>
      <tr>
        <th>
          Panel content
        </th>
        <th>
          Panel index
        </th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let pan of multipanelPanels; let idx = index; trackBy: trackbyIdx">
        <td>
          {{pan.name}}
        </td>
        <td>
          {{idx}}
        </td>
      </tr>
    </tbody>
  </table>
</div>
<br>

<label for="identifier"> Number of visible slides allowed </label>
<input id="identifier" type="number" [(ngModel)]="numberOfPanels"/>

<br/>
<br/>

<button (click)="addPanel(pendingPanels[0]?.name)">
  Add new panel
</button>

<button (click)="removePanel(multipanelPanels[multipanelPanels.length - 1]?.name)">
  Pop
</button>

<button (click)="breakTheNames()">
  <span *ngIf="!i">
    start
  </span>
  <span *ngIf="i">
    stop
  </span>
  changing component widths
</button>
<!-- <router-outlet></router-outlet> -->
